.body {
  /* background-color: #121212;  */
  color: #f0f8ff;
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.heading {
  font-family: "Roboto", sans-serif;
  font-size: 35px;
  text-align: center;
  margin: 20px 0;
  padding: 15px;
  padding-top: 30px;
  color: #f0f8ff;
}

.lisa {
  width: 50%;
  height: auto;
  max-height: 80vh;
}
